.cart {
  display: flex;
  flex-direction: column;
  width: 66%;
  height: fit-content;
  background-color: $Rose50;
  border-radius: 10px;
  padding: 20px;

  .cart-quantity {
    width: 100%;
    display: flex;
    align-items: start;
    color: $Red;
    margin-bottom: 20px;

    h2 {
      margin-left: 6px;
    }
  }

  .cart-detail {
    width: 100%;
    display: flex;
    flex-direction: column;

    .cart-empty {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: $Rose500;
      font-weight: 500;
      font-size: 14px;
      margin: 14px 0;
    }

    .cart-detail-information {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .card {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
        .card-box {
          display: flex;
          width: 100%;

          .card-detail {
            display: flex;
            flex-direction: column;
            width: 100%;

            .title {
              margin-bottom: 2px;
              display: flex;
              justify-content: flex-start;

              p {
                margin: 0;
                font-weight: 500;
              }
            }

            .price-detail {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              .quantity {
                color: $Red;
                font-weight: 700;
                margin: 0 6px 0 0;
              }

              .price {
                color: $Rose400;
                margin: 0;
                margin: 0 6px 0 0;
              }

              .total-price-item {
                color: $Rose400;
                font-weight: 500;
                margin: 0;
                margin: 0 6px 0 0;
              }
            }
          }

          .btn-delete-box {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-end;

            .remove-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #caafa7;
              height: 16px;
              width: 16px;
              border-radius: 50%;
              cursor: pointer;

              &:hover {
                border-color: black;
                .icon {
                  fill: black;
                }
              }
            }
            .icon {
              fill: #caafa7;
            }
          }
        }
        .line {
          margin-top: 20px;
          border-bottom: 1px solid $Rose100;
          width: 100%;
        }
      }
      .order-total-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .order-total {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 30px;

          h1 {
            margin: 0;
          }
        }

        .carbone {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $Rose100;
          border-radius: 5px;

          p {
            margin-left: 6px;
            span {
              font-weight: 700;
            }
          }
        }

        .confirm-btn-box {
          display: flex;
          width: 80%;
          align-items: center;
          justify-content: center;
          margin-top: 30px;

          button {
            width: 100%;
            padding: 16px;
            color: white;
            background-color: $Red;
            cursor: pointer;
            border-radius: 20px;
            border: none;
          }
        }
      }
    }
  }
}
