.cart {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: fit-content;
  background-color: $Rose50;
  border-radius: 10px;
  padding: 20px;

  .cart-quantity {
    width: 100%;
    display: flex;
    align-items: start;
    color: $Red;

    h3 {
      margin-left: 10px;
    }
  }

  .cart-detail {
    width: 100%;
    display: flex;
    flex-direction: column;

    .cart-empty {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: $Rose500;
      font-weight: 500;
      font-size: 14px;
      margin: 14px 0;
    }

    .cart-detail-information {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .card {
        display: flex;
        width: 100%;

        .card-detail {
          display: flex;
          flex-direction: column;
          width: 100%;

          .title {
          }

          .price-detail {
            display: flex;
          }
        }

        .btn-delete-box {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
